.container {
  max-width: 700px;
  margin: auto;
}

.container--small {
  max-width: 550px;
}

.container--wide {
  max-width: initial;
  margin: auto;
}

.container-header {
  margin: auto;
  max-width: 1200px;
}