---
layout: layouts/baza.njk
permalink: /archiwum/
eleventyNavigation:
  key: Archiwum
  order: 2
---

<h1>Archiwum wszystkich wpisów...</h1>
{% set postslist = collections.blog %}
{% include "postslist.njk" %}
