---
layout: baza
hero: true
heroImage: header-hero.png
heroTitle: Blog o winie
heroSubtitle: Przeczytaj historie opróżnionych butelek
containerClass: container-wide
eleventyNavigation:
  key: Home
  order: 1
---
{% set maxPosts = collections.demo.length | min(6) %}
<h1>Latest {% if maxPosts == 1 %}Post{% else %}{{ maxPosts }} Posts{% endif %}</h1>

{% set postslist = collections.blog | head(-6) %}
{# {% set postslistCounter = collections.posts | length %} #}
{% include "postslist.njk" %}

<a href="/archiwum">Więcej</a>

{# <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> #}
