
{% if imageBase %}
    {% set heroImage = imageBase + heroImage %}
{% endif %}
<div class="hero">
    <div class="container-content">
        <img src="{{ heroImage | img }}" alt="{{ imgAlt }}" class="hero__bg-img">
        <h1 class="hero__title"> {{heroTitle or title }}  </h1>
        {% if heroSubtitle %}
            <p class="hero__paragraph">{{heroSubtitle}}</p>
        {% endif %}
    </div>
</div>