{# <ol reversed class="postslist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postslist-item{% if post.url == url %} postslist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postslist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <img src="{{post.data.heroImage | img }}" alt="montaine">
    <time class="postslist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol> #}

  <ul class="post-list">
  {% for post in postslist | reverse %}
      <li class="post-card">
        <a href="{{ post.url | url }}" class="post-card__title">
          <h3>
            {{post.data.title}}
          </h3>
        </a>
        <div class="post-card__img-container">
          <img src="{{post.data.cardImage | img }}" alt="cardImageAlt">
        </div>
        <time class="post-card__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
      </li>
  {% endfor %}
  </ul>

<h3>debugging...</h3>
  <h4>
    {{post.data.title}}
  </h4>
{% for post in postslist %}
<pre style="background: #eee; padding: 0.5rem;">
<code>{{ post | printKeys }}</code>
    template:
    <code style="color: orangered;">
      {{post.data | printKeys}}
    </code>
      template.page:
      <code style="color: blue;">
        {{post.data.page | printKeys}}
      </code>
</pre>
<hr />
{% endfor %}
