{# <ol reversed class="postslist" style="counter-reset: start-from {{ (postslistCounter or postslist.length) + 1 }}">
{% for post in postslist | reverse %}
  <li class="postslist-item{% if post.url == url %} postslist-item-active{% endif %}">
    <a href="{{ post.url | url }}" class="postslist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
    <img src="{{post.data.heroImage | img }}" alt="montaine">
    <time class="postslist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    {% for tag in post.data.tags | filterTagList %}
      {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
      <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
  </li>
{% endfor %}
</ol> #}

{% set imageUrl = value %}

  <ul class="post-list">
  {% for post in postslist | reverse %}
      <li class="post-card">
        <div class="post-card__img-container">
        <a href="{{ post.url | url }}">
          <img class="post-card__img" src="{{ (post.data.imageBase + post.data.cardImage) | img }}" alt="cardImageAlt">
        </a>
          <div class="post-card__date-container">
            <time class="post-card__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
          </div>
        </div>
        <div class="post-card__text-container">
              <h3 class="post-card__title">
                <a class="reset-link" href="{{ post.url | url }}">
                    {{post.data.title}}
                </a>
              </h3>
              <p>
                {{post.data.description}}
              </p>
        </div>
      </li>
  {% endfor %}
  </ul>

{# <h3>debugging...</h3>
  <h4>
    {{post.data.title}}
  </h4>
{% for post in postslist %}
<pre style="background: #eee; padding: 0.5rem;">
<code>{{ post | printKeys }}</code>
    template:
    <code style="color: orangered;">
      {{post.data | printKeys}}
    </code>
      template.page:
      <code style="color: blue;">
        {{post.data.page | printKeys}}
      </code>
</pre>
<hr /> 
{% endfor %}#}