.post-card {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 4px 8px;
    transition: box-shadow 0.1s ease-in-out;
    
    &:hover {
        box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    }

    &__title {
        text-decoration: none; 
        color: $color-gray-dk4;
    }

    &__title:hover {
        text-decoration: underline;
    }

    &__title:visited, &__title:active {
        color: $color-gray-dk1;
    }

    &__img-container {
        height: 100px;
        overflow: hidden; 
    }

    &__img {
        object-fit: cover;
        object-position: center;
    }
    
    &__date {
        display: block;
        background: $color-primary-dk1;
        color: $color-gray-lt4;
        word-break: keep-all;
        width: max-content;
        padding: 4px 8px;
    }
}