---
layout: layouts/baza.njk
templateClass: container wpis
---
{# <h1>{{ title }}</h1> #}
<div>
  <time class="post-card__date post-card__date--wpis" datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
</div>
 
<ul class="reset-ul flex">
  {%- for tag in tags | filterTagList -%}
  {%- set tagUrl %}/tags/{{ tag | slug }}/{% endset -%}
  <li class="u-mr-4">
    <a href="{{ tagUrl | url }}" class="post-tag">{{ tag }}</a>
  </li>
  {%- endfor %}
</ul>

<div class="tmpl-wpis">
{{ content | safe }}
</div>

{%- if collections.blog %}
{%- set nextPost = collections.blog | getNextCollectionItem(page) %}
{%- set previousPost = collections.blog | getPreviousCollectionItem(page) %}
{%- if nextPost or previousPost %}

<ul class="u-pt-5 next-prev reset-ul flex flex--jsb">
  {%- if previousPost %}<li class="next-prev__li"><a class="post-link" href="{{ previousPost.url | url }}">&lt;&lt;&lt; {{ previousPost.data.title }}</a></li>{% endif %}
  {%- if nextPost %}<li class="next-prev__li"><a class="post-link" href="{{ nextPost.url | url }}">{{ nextPost.data.title }} &gt;&gt;&gt;</a></li>{% endif %}
</ul>
{%- endif %}
{%- endif %}
